# Virtual environments
.venv/
__pycache__/
*.pyc

# Environment
.env

# Database
*.db

# Temp uploads
temp_uploads/
backend/temp_uploads/

# Node
node_modules/
dist/
frontend/dist/

# IDE
.vscode/
.idea/

.vercel
.env*
